
<div class="row">

  <div class="span8">
    <table class='table'>
      {{#categories}}
      <tr>
        <td>{{uid}}</td>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{extra.color}}</td>
      </tr>
      {{/categories}}
    </table>
  </div>
  <div class="span4">
    {{> letstalk-admin.form}}
  </div>

</div>
