<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputUID">UID</label>
    <div class="controls">
      <input type="text" name='uid' id='inputUID' placeholder="UID">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" name="name" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputColor">Color</label>
    <div class="controls">
      <input type="text" name="extra.color" id="inputColor" placeholder="Color">
      <button type="submit" class="btn">Create Category</button>
    </div>
  </div>
</form>
